[submodule "browser-sync/floccus"]
	path = browser-sync/floccus
	url = https://github.com/floccusaddon/floccus.git
[submodule "browser-sync/xbrowsersync/app"]
	path = browser-sync/xbrowsersync/app
	url = https://github.com/xbrowsersync/app.git
[submodule "browser-sync/xbrowsersync/api"]
	path = browser-sync/xbrowsersync/api
	url = https://github.com/xbrowsersync/api.git
[submodule "browser-sync/xbookmarksync"]
	path = browser-sync/xbookmarksync
	url = https://github.com/xenji/xbookmarksync-api-springboot-kotlin-dynamodb.git
[submodule "go/go-kit-microservices"]
	path = go/go-kit-microservices
	url = https://github.com/minghsu0107/go-kit-microservices.git
[submodule "go/gotempm"]
	path = go/gotempm
	url = https://github.com/camba1/gotempm.git
[submodule "go/go-kit"]
	path = go/go-kit
	url = https://github.com/go-kit/kit.git
[submodule "go/microservices"]
	path = go/microservices
	url = https://github.com/micro/services.git
[submodule "vue/vuejs-vuetify-financial-dashboard"]
	path = vue/vuejs-vuetify-financial-dashboard
	url = https://github.com/zakaria-29-dev/vuejs-vuetify-financial-dashboard.git
[submodule "docker/TensorJS-Face-Detection"]
	path = docker/TensorJS-Face-Detection
	url = https://github.com/harsh4870/TensorJS-Face-Detection.git
[submodule "ai/ollama"]
	path = ai/ollama
	url = https://github.com/ollama/ollama.git
[submodule "docker/multi-container-app"]
	path = docker/multi-container-app
	url = https://github.com/docker/multi-container-app.git
[submodule "ai/Docker-NLP"]
	path = ai/Docker-NLP
	url = https://github.com/harsh4870/Docker-NLP.git
[submodule "ai/genai-stack"]
	path = ai/genai-stack
	url = https://github.com/docker/genai-stack.git
[submodule "ai/docker-genai-sample"]
	path = ai/docker-genai-sample
	url = https://github.com/craig-osterhout/docker-genai-sample.git
[submodule "ai/docker-genai"]
	path = ai/docker-genai
	url = https://github.com/Davidnet/docker-genai.git
[submodule "tinyGS"]
	path = tinyGS
	url = https://github.com/G4lile0/tinyGS.git
[submodule "docker/learn-devops-the-complete-kubernetes-course"]
	path = docker/learn-devops-the-complete-kubernetes-course
	url = https://github.com/peelmicro/learn-devops-the-complete-kubernetes-course.git
[submodule "ml/machine-learning-6-practical-real-world-app"]
	path = ml/machine-learning-6-practical-real-world-app
	url = https://github.com/rjmanzo/machine-learning-6-practical-real-world-app.git
[submodule "ai/commaai-openpilot"]
	path = ai/commaai-openpilot
	url = https://github.com/commaai/openpilot.git
[submodule "python/tetris_game"]
	path = python/tetris_game
	url = https://github.com/LoveDaisy/tetris_game.git
[submodule "python/algorithmic-trading-python"]
	path = python/algorithmic-trading-python
	url = https://github.com/nickmccullum/algorithmic-trading-python.git
