<div class="columns">

	<div class="column">

		<div class="container">

			<section class="section">

				<div class="columns is-centered">
					<div class="column is-one-third-widescreen is-two-thirds-tablet">
						<div class="card">
							<header class="card-header">
								<p class="card-header-title">
									Reset Password
								</p>
								<a href="#" class="card-header-icon" aria-label="more options">
									<span class="icon">
										<i class="fas fa-angle-down" aria-hidden="true"></i>
									</span>
								</a>
							</header>
							<form name="passwordForm">
								<div class="card-content">

									<div class="field">
										<p class="control has-icons-left has-icons-right">
											<input id="challange" type="text" placeholder="Code"
												class="input {{challange === null || passwordForm.challange.$valid ? '' : 'is-warning'}}"
												ng-model="challange" name="challange" ng-minlength="5" ng-maxlength="5"
												ng-init="challange = null" ng-init="challange = null" required>
											<span class="icon is-small is-left">
												<i class="mdi mdi-lock-question"></i>
											</span>
											<span class="icon is-small is-right"
												ng-if="challange !== null && !passwordForm.challange.$valid">
												<i class="mdi mdi-alert"></i>
											</span>
										</p>
									</div>

									<div class="field">
										<p class="control has-icons-left has-icons-right">
											<input id="password" type="password" placeholder="Password (min 8)"
												class="input {{password === null || passwordForm.password.$valid ? '' : 'is-warning'}}"
												ng-model="password" name="password" ng-minlength="8" ng-maxlength="100"
												ng-init="password = null" required>
											<span class="icon is-small is-left">
												<i class="mdi mdi-lock"></i>
											</span>
											<span class="icon is-small is-right"
												ng-if="password !== null && !passwordForm.password.$valid">
												<i class="mdi mdi-alert"></i>
											</span>
										</p>
									</div>

									<div class="field">
										<p class="control has-icons-left has-icons-right">
											<input id="passwordRepeat" type="password" placeholder="Repeat password"
												class="input {{passwordRepeat === null || passwordForm.passwordRepeat.$valid ? '' : 'is-warning'}}"
												ng-model="passwordRepeat" name="passwordRepeat" ng-minlength="8"
												ng-maxlength="100" ng-init="passwordRepeat = null"
												ng-change="password !== passwordRepeat? passwordForm.passwordRepeat.$valid=false : ''"
												required>
											<span class="icon is-small is-left">
												<i class="mdi mdi-lock"></i>
											</span>
											<span class="icon is-small is-right"
												ng-if="passwordRepeat !== null && !passwordForm.passwordRepeat.$valid">
												<i class="mdi mdi-alert"></i>
											</span>
										</p>
									</div>

								</div>
								<footer class="card-footer">
									<a class="card-footer-item" type="submit" ng-disabled="!passwordForm.$valid"
										ng-click="passwordForm.$valid && ResetPassword(password, challange)" value="">
										<span ng-if="!isLoading">Reset</span>
										<span ng-if="isLoading" class="is-centered spinner"></span>
									</a>
								</footer>
							</form>
						</div>
					</div>
				</div>

			</section>


		</div>
	</div>
</div>